<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{block name="title"}{/block}</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	{load href="/static/common/layui/css/layui.css" /}
	{load href="/static/admin/css/public.css" /}
	{block name="css"}{/block}
</head>
<body class="childrenBody">
	{block name="content"}{/block}
	{load href="/static/common/layui/layui.js" /}
	<script type="text/javascript">
		layui.use(['jquery','layer'],function(){
			$ = layui.jquery;
			layer = parent.layer === undefined ? layui.layer : parent.layer;
		});
	</script>
	{load href="/static/admin/js/common.js" /}
	{block name="js"}{/block}
</body>
</html>